
.journal__main-content{
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.journal__sidebar{
	background-color: $dark-grey;
	color: white;
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 35%;
	padding: .8rem;
}

.journal_sidebar-navbar{
	display: flex;
	justify-content: space-between;

	h3{
		font-weight: lighter;
	}
}

.journal__new-entry{
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 90%;
	flex-direction: row;
	background-color: $button-active-blue;
	
	
	
	i {
		font-size: 15px;
		margin-right: 9px;
	}

}


.journal__entries{
	margin-top: 30px;
	flex: 1 1 auto;
	overflow: scroll;
}

.journal__entry{
	background-color: white;
	border-radius: 4px;
	color: $dark-grey;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	overflow: hidden;
	&:hover{
		cursor: pointer;
	}
}

.journal__entry-picture{
	height: 75px;
	width: 75px;
}

.journal__entry-body{
	padding: 10px;

}
.journal__body-title{
	font-size: 14px;
	font-weight: bold;
}
.journal__body-content{
 
	font-size: 10px;

}

.journal__entry-date-box{
	align-items: center ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;

	span{
		font-size: 12px;
	}
}